<% html_title l(:title_create_article) %>

<h2><%= l(:title_create_article) %></h2>

<% html_title l(:title_create_article) %>

<%= labelled_form_for :article, @article,
  url: { action: 'create' }, html: { multipart: true, id: 'articles-form' } do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= submit_tag l(:button_create) %>
<% end %>