<hr>
<div id="issue_tree">
<div class="contextual">
  <%= link_to(l(:button_add), new_project_issue_path(@issue.project, :back_url => issue_path(@issue))) %>
</div>
<p><strong><%=l(:label_article_plural)%></strong></p>
</div>